<h1>Hello <%= @supplier.name%></h1>
<h1>We are <%= @branch.name%></h1>
<h1>Our product name is <%= @inventory.name%> and product code is <%= @inventory.inventory_code %> has been out of stock</h1>
<h1>So we very need you supply more product to our branch</h1>
<h1>Thank kiu so much!</h1>
